@model Restaurante.ViewModels.Proveedores.ProveedorViewItem

@{
    ViewBag.Title = "Editar";
}

    <div class="container">
        <h4 class="text-center mt-5">
            Editar Proveedor: @Model.Descripcion
        </h4>

        <div class="row">
            <div class="offset-3 col-6">
                @using (Html.BeginForm("Editar", "Proveedores", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="Descripción">Descripcion</label>
                        @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control", placeholder = @Model.Descripcion })
                        @Html.ValidationMessageFor(x => x.Descripcion, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="Dirección">Direccion</label>
                        @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control", placeholder = "Ingrese la Dirección del proveedor" })
                        @Html.ValidationMessageFor(x => x.Descripcion, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="e-Mail">Mail</label>
                        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", placeholder = "Ingrese el correo electrónico del proveedor" })
                        @Html.ValidationMessageFor(x => x.Descripcion, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="Teléfono">Telefono</label>
                        @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control", placeholder = "Ingrese el Teléfono del proveedor" })
                        @Html.ValidationMessageFor(x => x.Descripcion, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="Disponible">Disponible</label>
                        <br />
                        Si: @Html.RadioButtonFor(x => x.Disponible, "SI")
                        <br />
                        No: @Html.RadioButtonFor(x => x.Disponible, "NO")
                        @Html.ValidationMessageFor(x => x.Disponible, "", new { @class = "text-danger" })
                    </div>
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                    <button type="submit" class="btn btn-dark">
                        Confirmar
                    </button>
                    <a class="btn btn-outline-dark"
                       href="@Url.Action("Index","Proveedores")">
                        Cancelar
                    </a>
                }
            </div>
        </div>
    </div>

