@model Restaurante.ViewModels.Proveedores.ProveedoresViewModel

@{
    ViewBag.Title = "Proveedores";
}

@section scripts {
    <script type="text/javascript">
    </script>
}

<div class="container" id="ProveedoresContainer">
    <h4 class="text-center mt-5">
        Lista de Proveedores
    </h4>

    <div class="row my-5">
        <div class="col-2">
            <a class="btn btn-dark form-control text-right" 
               href="@Url.Action("Nuevo","Proveedores")">     @*Acá se llama a la vista para crear un Proveedor*@ 
                Nuevo Proveedor
            </a>
        </div>
    </div>

    @if (Model.Proveedores.Any())
    {
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">e-Mail</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Fecha Alta</th>
                            <th scope="col">Disponible</th>
                            <th scope="col"> </th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Proveedor in Model.Proveedores.OrderByDescending(Proveedor => Proveedor.Disponible).ThenBy(Proveedor => Proveedor.Descripcion))
                        {
                            <tr>
                                <td>@Proveedor.Id</td>
                                <td>@Proveedor.Descripcion</td>
                                <td>@Proveedor.Direccion</td>
                                <td>@Proveedor.Mail</td>
                                <td>@Proveedor.Telefono</td>
                                <td>@Proveedor.FechaAlta</td>
                                <td>@Proveedor.Disponible</td>
                                <td><a href="@Url.Action("Index", "Catalogos", new { idProveedor = Proveedor.Id})" @*Acá se llama a la vista para ver los catálogos de un Proveedor*@>
                                        Ver Catálogo
                                    </a>
                                </td>
                                <td><a href="@Url.Action("Editar", "Proveedores", new { id = Proveedor.Id})"   @*Acá se llama a la vista para editar un Proveedor*@ 
                                       class="btn btn-link">
                                        <i class="fas fa-ellipsis-h"
                                           data-toggle="tooltip"
                                           title="Editar Proveedor"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-primary">No se encontraron resultados de Proveedores.</div>
    }
</div>