@model Restaurante.ViewModels.OrdenesCompras.OrdenesComprasViewModel

@{
    ViewBag.Title = "OrdenesCompras";
}

@section scripts {
    <script type="text/javascript">
    </script>
}

<div class="container" id="OrdenesComprasContainer">
    <h4 class="text-center mt-5">
        Lista de Ordenes de Compras
    </h4>

    <div class="row my-5">
        <div class="col-2">
            <a class="btn btn-dark form-control text-right"
               href="@Url.Action("Nueva","OrdenesCompras")">
                @*Acá se llama a la vista para crear una Orden de Compra*@
                Nueva Orden de Compra
            </a>
        </div>
    </div>

    @if (Model.OrdenesCompras.Any())
    {
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Fecha Entrega</th>
                            <th scope="col">Estado</th>
                            <th scope="col"> </th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var OrdenCompra in Model.OrdenesCompras.OrderByDescending(OrdenCompra => OrdenCompra.Estado).ThenByDescending(OrdenCompra => OrdenCompra.FechaEntrega))
                        {
                            <tr>
                                <td>@OrdenCompra.Id</td>
                                <td>@OrdenCompra.Empleado.Nombre</td>
                                <td>@OrdenCompra.Producto.Descripcion</td>
                                <td>@OrdenCompra.Cantidad</td>
                                <td>@OrdenCompra.Proveedor.Descripcion</td>
                                <td>@OrdenCompra.FechaEntrega</td>
                                <td>@OrdenCompra.Estado</td>

                                @*Permitimos Concretar o Cancelar solo las Ordenes de Compra que estén Activas*@
                                @if (@OrdenCompra.Estado.Equals("Activa"))
                                {
                                    <td>
                                        <a class="btn btn-dark form-control text-right"
                                           href="@Url.Action("Concretar", "OrdenesCompras", new { idOrdenCompra = OrdenCompra.Id })">
                                            @*Acá se llama al controlador para concretar la Orden de Compra*@
                                            Concretar
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-dark form-control text-right"
                                           href="@Url.Action("Cancelar", "OrdenesCompras", new { idOrdenCompra = OrdenCompra.Id })">
                                            @*Acá se llama al controlador para cancelar la Orden de Compra*@
                                            Cancelar
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-primary">No se encontraron resultados de Ordenes de Compras.</div>
    }
</div>