@model Restaurante.ViewModels.Productos.ProductosViewModel

@{
    ViewBag.Title = "Productos";
}

@section scripts {
    <script type="text/javascript">
    </script>
}

<div class="container" id="ProductosContainer">
    <h4 class="text-center mt-5">
        Lista de Productos
    </h4>

    <div class="row my-5">
        <div class="col-2">
            <a class="btn btn-dark form-control text-right" 
               href="@Url.Action("Nuevo","Productos")">
                Nuevo Producto
            </a>
        </div>
    </div>

    @if (Model.Productos.Any())
    {
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Disponible</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var producto in Model.Productos.OrderBy(producto => producto.Descripcion))
                        {
                            <tr>
                                <td>@producto.Id</td>
                                <td>@producto.Descripcion</td>
                                <td>@producto.Precio</td>
                                <td>@producto.Disponible</td>
                                <td><a href="@Url.Action("Editar", "Productos", new { id = producto.Id})"   @*Acá llamar a la vista para modificar y deshabilitar/eliminar*@ 
                                       class="btn btn-link">
                                        <i class="fas fa-ellipsis-h"
                                           data-toggle="tooltip"
                                           title="Modificar"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-primary">No se encontraron resultados de productos.</div>
    }
</div>