@model Restaurante.ViewModels.Productos.NuevoProductoViewModel

@{
    ViewBag.Title = "Nuevo";
}

@section scripts {
    <script type="text/javascript">
    </script>
}

<div class="container">
    <h4 class="text-center mt-5">
        Nuevo Producto
    </h4>

    <div class="row">
        <div class="offset-3 col-6">
            @using (Html.BeginForm("Nuevo", "Productos", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="Descripción">Descripcion</label>
                    @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control", placeholder = "Ingrese la Descripción del producto" })
                    @Html.ValidationMessageFor(x => x.Descripcion, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="Precio">Precio</label>
                    @Html.TextBoxFor(x => x.Precio, new { @class = "form-control", placeholder = "Ingrese el Precio del producto", @type = "numeric" })
                    @Html.ValidationMessageFor(x => x.Precio, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="Disponible">Disponible</label>
                    @*@Html.DropDownListFor(x => x.Disponible,
                                        new SelectList(new String[] { "SI", "NO" }),
                                        "¿Producto disponible?")*@

                    <br />
                    Si: @Html.RadioButtonFor(x => x.Disponible, "SI")
                    <br />
                    No: @Html.RadioButtonFor(x => x.Disponible, "NO")
                    @Html.ValidationMessageFor(x => x.Disponible, "", new { @class = "text-danger" })
                </div>
                @Html.ValidationMessage("", new { @class = "text-danger" })
                <button type="submit" class="btn btn-dark">
                    Confirmar
                </button>
                <a class="btn btn-outline-dark"
                   href="@Url.Action("Index","Productos")">
                    Cancelar
                </a>
            }
        </div>
    </div>
</div>